#sidenav {
  position: fixed;
  left: 0;
  top:0;
  bottom:0;
  overflow-x: hidden;
  overflow-y: auto;
    
  z-index:1;
}

.big-checkbox {
  width:2rem;
  height:2rem;
  margin-right:0.2rem;
}
body {
  overscroll-behavior-y: none;
}