<!DOCTYPE html>
<html>

<head>
    <link async rel="icon" href="{{ url_for('static', filename='upsilon-assets/upsilon.svg') }}">
    <!-- UIkit CSS -->
    <link async rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='uikit/uikit.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <!-- UIkit JS -->
    {% if false %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit-icons.min.js"></script>
    {% endif %}
    <script src="{{ url_for('static', filename='uikit/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='uikit/uikit-icons.min.js') }}"></script>

    <title>upsilon</title>
</head>

<body style="font-family:'Roboto Mono', monospace; background-color:#222;">

    <aside id="sidenav" class="uk-light" style="width:8rem;">
        <ul class="uk-iconnav uk-iconnav-vertical uk-position-center" uk-scrollspy-nav="closest: li; scroll: true"
            uk-nav>
            <li><a href="/#home" uk-icon="icon: home; ratio:1.5;" style="padding-bottom:2rem;"></a></li>
        </ul>
    </aside>

    <div id="main" class="uk-section-secondary" style="margin-left:8rem; position: relative;" uk-height-viewport>

        <div class="uk-container uk-container-xlarge uk-dark uk-padding-remove-left" style="margin:0;">
            <div class="uk-hidden@l uk-padding-large"></div>
            <div class="uk-section uk-padding-top">
                <h1 class="uk-heading-large" style="font-family: 'Roboto Mono', monospace; font-weight:200;">error
                </h1>
            </div>

            <div class="uk-section uk-padding-small">
                {{ error_message }}
            </div>
            <button onclick="location.assign('/')" class="uk-button uk-button-default uk-align-left"
                style="margin-top:1rem;padding-left:1rem;padding-right:1rem;">Homepage</button>
        </div>

    </div>

</body>

</html>