<!DOCTYPE html>

<html lang="en" style="scroll-snap-type: y proximity;">
<!-- on html and body because browser consistency == null -->

<head>
    <link async rel="icon" href="{{ url_for('static', filename='upsilon-assets/upsilon.svg') }}">
    <!-- UIkit CSS -->
    <link async rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='uikit/uikit.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <!-- UIkit JS -->
    {% if false %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit-icons.min.js"></script>
    {% endif %}
    <script src="{{ url_for('static', filename='uikit/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='uikit/uikit-icons.min.js') }}"></script>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
    {% if user is not none %}
    <script>document.addEventListener("DOMContentLoaded", ns.updateSubmissions);</script>
    {% endif %}
    <title>upsilon</title>
</head>

<body style="font-family:'Roboto Mono', monospace; background-color:#222; scroll-snap-type: y proximity;">

    <aside id="sidenav" class="uk-light" style="width:8rem;">
        {% if user is not none %}
        <button onclick="location.assign('/logout')" class="uk-button uk-button-default uk-align-center"
            style="margin-top:1rem;padding-left:1rem;padding-right:1rem;">Log out</button>
        {% else %}
        <button onclick="location.assign('/discord/login')" class="uk-button uk-button-default uk-align-center"
            style="margin-top:1rem;padding-left:1rem;padding-right:1rem;">Log in</button>
        {% endif %}
        <ul class="uk-iconnav uk-iconnav-vertical uk-position-center" uk-scrollspy-nav="closest: li; scroll: true"
            uk-nav>
            <li><a href="#home" uk-icon="icon: home; ratio:1.5;" style="padding-bottom:2rem;"></a></li>
            {% if False %}
            <li><a href="#showcase" uk-icon="icon: image; ratio:1.5;" style="padding-bottom:2rem;"></a></li>
            <li><a href="#projects" uk-icon="icon: users; ratio:1.5;" style="padding-bottom:2rem;"></a></li>
            {% endif %}
            <li><a href="#download" uk-icon="icon: download; ratio:1.5;" style="padding-bottom:2rem;"></a></li>
            <li><a href="#rules" uk-icon="icon: list; ratio:1.5;" style="padding-bottom: 2rem;"></a></li>

            <!-- This needs to be removed when inactive, can't just be invisible -->
            {% if user is none %}
            <!-- <li><a href="/discord/login" uk-icon="icon: sign-in; ratio:1.5;"></a></li> -->
            {% else %}
            {% if False %}
            <li><a href="#achievements" uk-icon="icon: star; ratio:1.5;" class="" style="padding-bottom:2rem;"></a></li>
            {% endif %}
            <li><a href="#submit" uk-icon="icon: plus; ratio:1.5;" class=""></a></li>
            {% endif %}
        </ul>
    </aside>

    <div id="home" class="uk-section-secondary" style="margin-left:8rem; scroll-snap-align: start; position: relative;"
        uk-height-viewport>

        <div class="uk-container uk-container-xlarge uk-dark uk-padding-remove-left" style="margin:0;">
            <div class="uk-hidden@l uk-padding-large"></div>
            <div class="uk-section uk-padding-top">
                <h1 class="uk-heading-2xlarge" style="font-family: 'Roboto Mono', monospace; font-weight:200;">upsilon
                </h1>
            </div>

            <div class="uk-section uk-padding-small">
                <div uk-grid>
                    <div class="uk-width-expand">
                        <p class="uk-text-justify">
                            Upsilon is a cool™ project
                        </p>
                    </div>
                    <div class="uk-width-1-3 uk-visible@xl"></div>
                </div>
                <button class="uk-button uk-button-large uk-button-default"
                    style="margin-top:2rem; font-family:'Trispace';" onclick="window.open('{{ discord_url }}')">Join our
                    Discord
                    server</button>
            </div>

        </div>

        <div class="uk-flex uk-flex-center" style="color:#a1a1a1;">
            <div style="position: absolute; bottom: 2rem;">
                <span class="uk-visible@l" uk-icon="icon: chevron-down; ratio: 1.5;"></span>
            </div>
        </div>

    </div>
    {% if False %}
    <div id="showcase" class="uk-section-secondary"
        style="margin-left:8rem; scroll-snap-align: start; position: relative;" uk-height-viewport>

        <div class="uk-container uk-container-xlarge uk-padding-large uk-padding-remove-left" style="margin:0;">
            <h1 class="uk-heading-large" style="font-family: 'Roboto Mono', monospace; font-weight:200;">showcase</h1>

            <div class="uk-padding-small uk-flex uk-flex-left">

                <div class="uk-flex uk-flex-column uk-width-1-4">
                    <p class="uk-text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non
                        lacus ex. Suspendisse non mauris finibus, finibus velit ac, consectetur erat. Nunc varius sit
                        amet metus et faucibus. Donec eu nulla egestas, iaculis est id, dictum lectus. Aliquam ultricies
                        eros vel imperdiet ultricies. Sed interdum pharetra purus sed aliquet. Aenean ornare et lacus
                        finibus vehicula. Donec vel ultrices eros. Proin varius nisi leo, eget dapibus quam bibendum
                        sed. Donec eget ante ante. Duis euismod lacus mauris, eget auctor tortor rutrum quis.</p>

                    <p class="uk-text-justify">Morbi sit amet lacus aliquam, sodales quam vel, convallis elit. Aliquam
                        id odio consequat libero varius porttitor at ac purus. Duis egestas neque sit amet cursus
                        ultricies. Donec vitae turpis et felis congue rutrum. In posuere, ligula in auctor interdum,
                        lectus leo molestie ipsum, id elementum eros tellus ac justo. Quisque metus dui, condimentum non
                        magna laoreet, accumsan facilisis mauris. Integer lobortis ligula mi, vitae dignissim dolor
                        semper vel.</p>
                </div>

                <div class="uk-visible-toggle uk-padding uk-padding-remove-top uk-width-expand" style="max-width: 75%;"
                    tabindex="0"
                    uk-slideshow="animation: push; autoplay: true; autoplay-interval: 6000; pause-on-hover: true;">

                    <ul class="uk-slideshow-items">
                        <li>
                            <img src="/pumpkinsedit.png" alt="" uk-cover>
                            <div
                                class="uk-position-small uk-position-bottom-left uk-overlay uk-overlay-primary uk-transition-slide-bottom">
                                <h3 class="uk-margin-remove"
                                    style="font-family: 'Roboto Mono', monospace; font-weight:500;">Some brad you are
                                </h3>
                                <p class="uk-margin-remove"><strong>You have chosen, or been chosen</strong></p>
                            </div>
                        </li>
                        <li>
                            <img src="/evessto1.png" alt="" uk-cover>
                            <div
                                class="uk-position-small uk-position-bottom-left uk-overlay uk-overlay-primary uk-transition-slide-bottom">
                                <h3 class="uk-margin-remove"
                                    style="font-family: 'Roboto Mono', monospace; font-weight:500;">Some brad you are
                                </h3>
                                <p class="uk-margin-remove"><strong>You have chosen, or been chosen</strong></p>
                            </div>
                        </li>
                        <li>
                            <img src="/trumpdestroysminecraft.png" alt="" uk-cover>
                            <div
                                class="uk-position-small uk-position-bottom-left uk-overlay uk-overlay-primary uk-transition-slide-bottom">
                                <h3 class="uk-margin-remove"
                                    style="font-family: 'Roboto Mono', monospace; font-weight:500;">Some brad you are
                                </h3>
                                <p class="uk-margin-remove"><strong>You have chosen, or been chosen</strong></p>
                            </div>
                        </li>
                        <li>
                            <img src="/trumpdestroysminecraft.png" alt="" uk-cover>
                            <div
                                class="uk-position-small uk-position-bottom-left uk-overlay uk-overlay-primary uk-transition-slide-bottom">
                                <h3 class="uk-margin-remove"
                                    style="font-family: 'Roboto Mono', monospace; font-weight:500;">Some brad you are
                                </h3>
                                <p class="uk-margin-remove"><strong>You have chosen, or been chosen</strong></p>
                            </div>
                        </li>
                        <li>
                            <img src="/trumpdestroysminecraft.png" alt="" uk-cover>
                            <div
                                class="uk-position-small uk-position-bottom-left uk-overlay uk-overlay-primary uk-transition-slide-bottom">
                                <h3 class="uk-margin-remove"
                                    style="font-family: 'Roboto Mono', monospace; font-weight:500;">Some brad you are
                                </h3>
                                <p class="uk-margin-remove"><strong>You have chosen, or been chosen</strong></p>
                            </div>
                        </li>
                    </ul>

                    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>

                </div>
            </div>
        </div>
    </div>


    <div id="projects" class="uk-section-secondary"
        style="margin-left:8rem; scroll-snap-align: start; position: relative;" uk-height-viewport>

        <div class="uk-container uk-container-xlarge uk-padding-large uk-padding-remove-left" style="margin:0;">
            <h1 class="uk-heading-large" style="font-family: 'Roboto Mono', monospace; font-weight:200;">community
                projects</h1>

            <div class="uk-grid-large uk-padding-small" uk-grid>
                <div class="uk-width-1-2">
                    <div class="uk-visible-toggle uk-align-center uk-width-expand" tabindex="0"
                        uk-slideshow="animation: push; autoplay: true; autoplay-interval: 6000; pause-on-hover: true;">
                        <ul class="uk-slideshow-items">
                            <li>
                                <img src="/pumpkinsedit.png" alt="" uk-cover>
                            </li>
                            <li>
                                <img src="/evessto1.png" alt="" uk-cover>
                            </li>
                            <li>
                                <img src="/trumpdestroysminecraft.png" alt="" uk-cover>
                            </li>
                        </ul>

                        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
                    </div>
                    <div class="uk-grid" uk-grid>
                        <div class="uk-width-1-2" style="margin-top:-2rem;">
                            <h3 style="font-family:'Roboto Mono',monospace; font-weight:300;">Ortus City</h3>
                            <p class="uk-text-justify">a project to put a city on minmus and it has like a big railgun
                                or something, idk ask stratz</p>
                            <div class="uk-flex" style="height:3.5rem;">
                                <button class="uk-width-1-2 uk-button uk-button-large uk-button-default"
                                    style="font-family:'Trispace';margin-right:1rem;">Download</button>
                                <button class="uk-width-1-2 uk-button uk-button-large uk-button-default"
                                    style="font-family:'Trispace';" href="#ortus-modal-1" uk-toggle>Members</button>
                            </div>
                        </div>
                        <ul class="uk-width-1-2" style="list-style: none;">
                            <li>Name: big boi 8000, the best big boy in all the vast uncharted Bosmos</li>
                            <li>Categorisation: BIG-BO-I80-00</li>
                            <li>Size: real big</li>
                            <li>Kerbals: lots</li>
                            <li>Fuel: so, so much fuel</li>
                            <li>Docking ports: like a whole heck ton of them</li>
                        </ul>
                    </div>

                    <div id="ortus-modal-1" class="uk-flex-top" uk-modal>
                        <div class="uk-modal-dialog uk-margin-auto-vertical">

                            <button class="uk-modal-close-default" type="button" uk-close></button>

                            <div class="uk-modal-header">
                                <h2 class="uk-modal-title"
                                    style="font-family:'Roboto Mono', monospace; font-weight:200;">Ortus City
                                    contributors</h2>
                            </div>

                            <div class="uk-modal-body" uk-overflow-auto>
                                <ul style="list-style: none;">
                                    <li>stratz</li>
                                    <li>someone else</li>
                                    <li>probably another person</li>
                                    <li>not mark</li>
                                    <li>he was too busy</li>
                                    <li>doing all the work</li>
                                    <li>pho might have helped tho</li>
                                    <li>I definitely didn't</li>
                                    <li>ksp is for nerds</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="uk-width-1-2">
                    <div class="uk-visible-toggle uk-align-center uk-width-expand" tabindex="0"
                        uk-slideshow="animation: push; autoplay: true; autoplay-interval: 6000; pause-on-hover: true;">
                        <ul class="uk-slideshow-items">
                            <li>
                                <img src="/pumpkinsedit.png" alt="" uk-cover>
                            </li>
                            <li>
                                <img src="/evessto1.png" alt="" uk-cover>
                            </li>
                            <li>
                                <img src="/trumpdestroysminecraft.png" alt="" uk-cover>
                            </li>
                        </ul>

                        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
                    </div>
                    <div class="uk-grid" uk-grid>
                        <div class="uk-width-1-2" style="margin-top:-2rem;">
                            <h3 style="font-family:'Roboto Mono',monospace; font-weight:300;">Ortus City</h3>
                            <p class="uk-text-justify">a project to put a city on minmus and it has like a big railgun
                                or something, idk ask stratz</p>
                            <div class="uk-flex" style="height:3.5rem;">
                                <button class="uk-width-1-2 uk-button uk-button-large uk-button-default"
                                    style="font-family:'Trispace';margin-right:1rem;">Download</button>
                                <button class="uk-width-1-2 uk-button uk-button-large uk-button-default"
                                    style="font-family:'Trispace';" href="#ortus-modal-2" uk-toggle>Members</button>
                            </div>
                        </div>
                        <ul class="uk-width-1-2" style="list-style: none;">
                            <li>Name: big boi 8000, the best big boy in all the vast uncharted Bosmos</li>
                            <li>Categorisation: BIG-BO-I80-00</li>
                            <li>Size: real big</li>
                            <li>Kerbals: lots</li>
                            <li>Fuel: so, so much fuel</li>
                            <li>Docking ports: like a whole heck ton of them</li>
                        </ul>
                    </div>

                    <div id="ortus-modal-2" class="uk-flex-top" uk-modal>
                        <div class="uk-modal-dialog uk-margin-auto-vertical">

                            <button class="uk-modal-close-default" type="button" uk-close></button>

                            <div class="uk-modal-header">
                                <h2 class="uk-modal-title"
                                    style="font-family:'Roboto Mono', monospace; font-weight:200;">Ortus City
                                    contributors</h2>
                            </div>

                            <div class="uk-modal-body" uk-overflow-auto>
                                <ul style="list-style: none;">
                                    <li>stratz</li>
                                    <li>someone else</li>
                                    <li>probably another person</li>
                                    <li>not mark</li>
                                    <li>he was too busy</li>
                                    <li>doing all the work</li>
                                    <li>pho might have helped tho</li>
                                    <li>I definitely didn't</li>
                                    <li>ksp is for nerds</li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="uk-flex uk-flex-center">
                <ul class="uk-pagination" style="font-family: 'Trispace', monospace; font-size:1.2rem;" uk-margin>
                    <li><a href="#"><span uk-pagination-previous></span></a></li>
                    <li><a href="#">1</a></li>
                    <li class="uk-disabled"><span>...</span></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li class="uk-active"><span>7</span></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#">10</a></li>
                    <li class="uk-disabled"><span>...</span></li>
                    <li><a href="#">20</a></li>
                    <li><a href="#"><span uk-pagination-next></span></a></li>
                </ul>
            </div>

        </div>
    </div>
    {% endif %}

    <div id="download" class="uk-section-secondary"
        style="margin-left:8rem; scroll-snap-align: start; position: relative;" uk-height-viewport>

        <div class="uk-container uk-container-xlarge uk-padding-large uk-padding-remove-left" style="margin:0;">
            <h1 class="uk-heading-large" style="font-family: 'Roboto Mono', monospace; font-weight:200;">download</h1>

            <div class="uk-section uk-padding-small">
                <div uk-grid>
                    <div class="uk-width-expand">
                        <p class="uk-text-justify">put this in your ksp folder at
                            <code>C:\please\schedule\an\update\</code> if you're on windows,
                            <code>/wifi-passwords/coffee-shops/starbucks/</code> for os x, or
                            <code>/i/use/arch/btw/</code> if you are running linux.
                        </p>
                        <p class="uk-text-justify">if you tick the boxes for the planets and the other ones that go
                            round the planets you'll get all the craft that go round those planets or the craft that go
                            round the ones that go round the planets so just tick like a bunch of them and see what
                            happens maybe you'll get some cool stuff maybe not</p>
                    </div>
                    <div class="uk-width-1-3 uk-visible@xl"></div>
                </div>

            </div>
            <form>
                <label class="uk-padding-small" for="size_limit_selector">Size
                    limit</label>
                <select class="uk-select" style="width:20%; min-width:20%;" id="size_limit_selector"
                    onchange="ns.downloadDetails()" onload="ns.downloadDetails()">
                    {% for limit, data in size_limits.items() %}
                    <option value="{{ limit }}" {% if data["default"] %}selected {% endif %}>{{ data["name"] }}</option>
                    {% endfor %}
                </select>
                <label class="uk-align-center uk-padding-small uk-padding-remove-top"><input id="include_dlc"
                        class="uk-checkbox" type="checkbox" style="margin-right:0.5rem;">Include DLC</label>
                <div class="uk-flex uk-flex-left" style="margin-left:1rem; margin-top:2rem; height:4rem;">
                    <button id="download_button" type="button" onclick="ns.downloadSaveFile()"
                        class="uk-button uk-button-large uk-button-default" style="font-family:'Trispace';">Download
                        selected crafts</button>

                    <p id="download_status" class="uk-text-justify"
                        style="margin-top:auto; margin-bottom:auto; padding-left:4rem;"><span
                            uk-icon="icon:clock; ratio:1.2;"
                            style="position: absolute;margin-left:-2rem;"></span>Loading
                    </p>
                </div>

                <div id="craft_checkbox_container" style="/* margin-top:-6rem; */">
                    <!--remove this when below large-->
                    <div class="uk-flex uk-flex-between uk-align-center uk-padding-small"
                        style="font-size:1.5rem;font-weight:300;">
                        <div class="uk-flex uk-flex-column">
                            <label style="margin-top:140px;">
                                <input class="uk-checkbox" type="checkbox"
                                    style="width:1.5rem;height:1.5rem;margin-right:0.2rem;">Sun</label>
                        </div>

                        <div class="uk-flex uk-flex-column">
                            <label style="margin-top:140px;">
                                <input class="uk-checkbox" type="checkbox"
                                    style="width:1.5rem;height:1.5rem;margin-right:0.2rem;">Moho</label>
                        </div>

                        <div class="uk-flex uk-flex-column">
                            <label style="margin-top:140px;">
                                <input class="uk-checkbox" type="checkbox"
                                    style="width:1.5rem;height:1.5rem;margin-right:0.2rem;">Eve</label>
                            <div style="height:2rem;"></div>
                            <label>
                                <input class="uk-checkbox" type="checkbox"
                                    style="width:1.5rem;height:1.5rem;margin-right:0.2rem;">Gilly</label>
                        </div>

                        <div class="uk-flex uk-flex-column">
                            <label style="margin-top:140px;">
                                <input class="uk-checkbox" type="checkbox"
                                    style="width:1.5rem;height:1.5rem;margin-right:0.2rem;">Kerbin</label>
                            <div style="height:2rem;"></div>
                            <label>
                                <input class="uk-checkbox" type="checkbox"
                                    style="width:1.5rem;height:1.5rem;margin-right:0.2rem;">Mun</label>
                            <label>
                                <input class="uk-checkbox" type="checkbox"
                                    style="width:1.5rem;height:1.5rem;margin-right:0.2rem;">Minmus</label>
                        </div>

                        <div class="uk-flex uk-flex-column">
                            <label style="margin-top:140px;">
                                <input class="uk-checkbox" type="checkbox"
                                    style="width:1.5rem;height:1.5rem;margin-right:0.2rem;">Duna</label>
                            <div style="height:2rem;"></div>
                            <label>
                                <input class="uk-checkbox" type="checkbox"
                                    style="width:1.5rem;height:1.5rem;margin-right:0.2rem;">Ike</label>
                        </div>

                        <div class="uk-flex uk-flex-column">
                            <label style="margin-top:140px;">
                                <input class="uk-checkbox" type="checkbox"
                                    style="width:1.5rem;height:1.5rem;margin-right:0.2rem;">Dres</label>
                        </div>

                        <div class="uk-flex uk-flex-column">
                            <label style="margin-top:140px;">
                                <input class="uk-checkbox" type="checkbox"
                                    style="width:1.5rem;height:1.5rem;margin-right:0.2rem;">Asteroid Belt</label>
                        </div>

                        <div class="uk-flex uk-flex-column">
                            <label>
                                <input class="uk-checkbox" type="checkbox"
                                    style="width:1.5rem;height:1.5rem;margin-right:0.2rem;">Tylo</label>
                            <label>
                                <input class="uk-checkbox" type="checkbox"
                                    style="width:1.5rem;height:1.5rem;margin-right:0.2rem;">Vall</label>
                            <label>
                                <input class="uk-checkbox" type="checkbox"
                                    style="width:1.5rem;height:1.5rem;margin-right:0.2rem;">Laythe</label>
                            <div style="height:2rem;"></div>
                            <label>
                                <input class="uk-checkbox" type="checkbox"
                                    style="width:1.5rem;height:1.5rem;margin-right:0.2rem;">Jool</label>
                            <div style="height:2rem;"></div>

                            <label>
                                <input class="uk-checkbox" type="checkbox"
                                    style="width:1.5rem;height:1.5rem;margin-right:0.2rem;">Bop</label>
                            <label>
                                <input class="uk-checkbox" type="checkbox"
                                    style="width:1.5rem;height:1.5rem;margin-right:0.2rem;">Pol</label>

                        </div>

                        <div class="uk-flex uk-flex-column">
                            <label style="margin-top:140px;"><input class="uk-checkbox" type="checkbox"
                                    style="width:1.5rem;height:1.5rem;margin-right:0.2rem;">Eeloo</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div id="rules" class="uk-section-secondary" style="margin-left:8rem; scroll-snap-align: start; position: relative;"
        uk-height-viewport>

        <div class="uk-container uk-container-xlarge uk-padding-large uk-padding-remove-left" style="margin:0;">
            <h1 class="uk-heading-large" style="font-family: 'Roboto Mono', monospace; font-weight:200;">submission
                criteria</h1>
            <p class="uk-text-justify uk-padding-bottom">To submit
                crafts
                there are a few guidelines and requirements</p>
            <ul>
                <li>The journey to destinations must be completed legitimately (no cheats or physics exploits, but do
                    ask
                    if you have a cool physics breaking idea)</li>
                <li>All stock parts and physics. Graphics mods are cool
                    <ul>
                        <li><a
                                href="https://gitlab.com/upsilon-initiative/upsilon-frontend/-/blob/master/mod_whitelist.json">Allowed
                                mods can be found here</a></li>
                        <li>Ask in our discord if you think a mod should be added to the list</li>
                    </ul>
                </li>
                <li>Screenshots must be taken throughout the journey to show your route
                    <ul>
                        <li>Screenshot of craft in VAB with the dV readout
                            <ul>
                                <li>If you use crafts to refuel, make sure to screenshot them in the VAB and when
                                    they're docked</li>
                            </ul>
                        </li>
                        <li>Transfer from LKO</li>
                        <li>Capture at destination</li>
                        <li>Landing</li>
                        <li>A final screenshot to showcase your craft in all its glory!</li>
                    </ul>
                </li>
                <li>Don’t use Jeb, Bill, Bob, or Val. Otherwise, the save is going to be filled with clones!</li>
                <li>Terrain detail needs to be on high or crafts will clip into the ground when downloaded</li>
                <li>Try not to land too close to anomalies/easter eggs (like the Mohole or Mt. Olympus)</li>
                <li>Use KSP 1.12</li>
            </ul>
        </div>
    </div>

    {% if False %}
    <div id="achievements" class="uk-section-secondary"
        style="margin-left:8rem; scroll-snap-align: start; position: relative;" uk-height-viewport>

        <div class="uk-container uk-container-xlarge uk-padding-large uk-padding-remove-left" style="margin:0;">
            <h1 class="uk-heading-large" style="font-family: 'Roboto Mono', monospace; font-weight:200;">
                achievements
            </h1>

            <div uk-grid>
                <div class="uk-width-expand">
                    <p class="uk-padding-small">woo yay you did it yay congrats woo hurray yeah woo yay</p>
                </div>
                <div class="uk-width-1-3 uk-visible@l"></div>
            </div>

            <div class="uk-grid uk-padding uk-padding-remove-top uk-overflow-auto uk-child-width-1-5@l uk-child-width-1-2@m"
                uk-grid>

                <div class="uk-padding-small-left uk-padding-small-right">
                    <h4 style="font-family:'Roboto Mono', monospace;font-weight:300;margin-bottom:-1rem;"><span
                            uk-icon="icon:bookmark;ratio:1.2;" style="padding-right:0.5rem;"></span>Land on the moon
                    </h4>
                    <p>we do these things not because they are easy, but because we were bored one weekend</p>
                </div>

                <div class="uk-padding-small-left uk-padding-small-right">
                    <h4 style="font-family:'Roboto Mono', monospace;font-weight:300;margin-bottom:-1rem;"><span
                            uk-icon="icon:lock;ratio:1.2;" style="padding-right:0.5rem;"></span>become king of mars
                    </h4>
                    <p>this achievement is hidden until you unlock it</p>
                </div>

            </div>


        </div>

    </div>
    {% endif %}

    {% if False %}
    <!-- login section -->

    <div id="login" class="uk-section-muted uk-preserve-color" style="margin-left:8rem; scroll-snap-align: start;"
        uk-height-viewport>
        <div class="uk-container uk-container-xlarge uk-padding-large uk-padding-remove-left" style="margin:0;">
            <h1 class="uk-heading-large" style="font-family: 'Roboto Mono', monospace; font-weight:200;">log in</h1>

            <div class="uk-section uk-padding-small" style="margin-top:3rem;">
                <div class="uk-grid-large" uk-grid>
                    <div class="uk-width-1-2">
                        <p class="uk-text-justify">
                            log in to submit
                        </p>
                        <button onclick="location.assign('/discord/login')"
                            class="uk-button uk-button-default uk-button-large"
                            style="margin-top:2rem; font-family: 'Trispace';">log in</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endif %}

    {% if user is not none %}
    <!-- submit/manage section -->

    <div id="submit" class="uk-section-secondary" style="margin-left:8rem; scroll-snap-align: start;"
        uk-height-viewport>
        <div class="uk-container uk-container-xlarge uk-padding-large uk-padding-remove-left" style="margin:0;">

            <div class="uk-section uk-padding-small">
                <div class="uk-grid-large" uk-grid>
                    <div class="uk-width-1-2">
                        <h1 class="uk-heading-large"
                            style="font-family: 'Roboto Mono', monospace; font-weight:200; margin-left:-0.5rem; margin-bottom:2rem;">
                            upload</h1>
                        <p class="uk-text-justify">
                            submit new crafts
                        </p>
                        <ul id="upload_accordion" uk-accordion active="0">
                            <li>
                                <a class="uk-accordion-title" href="#">Upload a savefile</a>
                                <div class="uk-accordion-content">
                                    <div class="uk-flex uk-flex-left uk-flex-top" style="padding-bottom:1rem;">
                                        <div class="uk-placeholder uk-text-center" style="padding:0;margin-bottom: 0;">
                                            <div uk-form-custom="" class="uk-form-custom uk-flex uk-width-expand">
                                                <input id="upload_sfs" accept=".sfs" onchange="ns.newSavefile(event)"
                                                    type="file">
                                                <label class="uk-link" for="upload_sfs" style="padding: 30px;"><span
                                                        uk-icon="icon: upload" style="margin-right:0.5rem"></span>Drop
                                                    save file or select one</label>
                                            </div>
                                        </div>
                                        <p class="uk-text-justify" id="sfs_upload_status"
                                            style="margin-top:auto; margin-bottom:auto; padding-left:4rem;">
                                            <span uk-icon="icon:chevron-right; ratio:1.2;"
                                                style="position: absolute;margin-left:-2rem;"></span>Ready
                                        </p>
                                    </div>


                                    <!-- <div class="uk-flex uk-flex-left uk-flex-top" style="padding-bottom:1rem;">
                                        <div class="js-upload uk-placeholder uk-text-center" style="margin-bottom: 0;">
                                            <span uk-icon="icon: upload"></span>
                                            <span class="uk-text-middle">Drop save file or</span>
                                            <div uk-form-custom>
                                                <input type="file" accept=".sfs" ondrop="ns.onNewFile(event)"
                                                    onchange="ns.onNewFile(event)">
                                                <span class="uk-link">select one</span>
                                            </div>
                                        </div>

                                        <p class="uk-text-justify"
                                            style="margin-top:auto; margin-bottom:auto; padding-left:4rem;">
                                            <span uk-icon="icon:chevron-right; ratio:1.2;"
                                                style="position: absolute;margin-left:-2rem;"></span>Ready
                                        </p>
                                    </div> -->
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Mods</a>
                                <div class="uk-accordion-content">
                                    <p id="mod_savefile_status" class="uk-text-justify"
                                        style="margin-top:auto; margin-bottom:auto; padding-left:4rem;">
                                        <span uk-icon="icon:minus; ratio:1.2;"
                                            style="position: absolute;margin-left:-2rem;"></span>No savefile active
                                    </p>
                                    <p id="mod_active_status" class="uk-text-justify"
                                        style="margin-top:auto; margin-bottom:auto; padding-left:4rem;">
                                        <span uk-icon="icon:minus; ratio:1.2;"
                                            style="position: absolute;margin-left:-2rem;"></span>No mod info
                                    </p>
                                    <p id="mod_version_status" class="uk-text-justify"
                                        style="margin-top:auto; margin-bottom:auto; padding-left:4rem;">
                                        <span uk-icon="icon:minus; ratio:1.2;"
                                            style="position: absolute;margin-left:-2rem;"></span>No version info
                                    </p>
                                    <p id="mod_difficulty_status" class="uk-text-justify"
                                        style="margin-top:auto; margin-bottom:auto; padding-left:4rem;">
                                        <span uk-icon="icon:minus; ratio:1.2;"
                                            style="position: absolute;margin-left:-2rem;"></span>No difficulty info
                                    </p>
                                    <table id="mod_table" class="uk-table">
                                        <thead>
                                            <tr>
                                                <th>Mod name</th>
                                                <th>Enabled</th>
                                                <th>Allowed</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- <tr>
                                                <td>Table Data</td>
                                                <td>Table Data</td>
                                                <td>Table Data</td>
                                            </tr>
                                            <tr>
                                                <td>Table Data</td>
                                                <td>Table Data</td>
                                                <td>Table Data</td>
                                            </tr> -->
                                        </tbody>
                                    </table>


                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Choose a craft</a>
                                <div class="uk-accordion-content">
                                    <div class="uk-flex uk-flex-left uk-flex-top" style="padding-bottom:1rem;">
                                        <form style="width:40%; min-width:40%;">
                                            <select id="upload_select" class="uk-select" required
                                                onchange="ns.craftDetails('upload')" onload="ns.craftDetails('upload')">
                                                <option value="" disabled selected hidden>Select a craft</option>
                                            </select>
                                        </form>
                                        <ul
                                            style="list-style: none; margin-top:0.5rem; margin-left:0rem; padding-left:2rem;">
                                            <li>Name: <span id="upload_name"></span></li>
                                            <li>Categorisation: <span id="upload_categorisation"></span></li>
                                            <li>Location: <span id="upload_location"></span></li>
                                            <li>Situtation: <span id="upload_situation"></span></li>
                                            <li>DLC: <span id="upload_dlc"></span></li>
                                            <li>Valid: <span id="upload_valid"></span></li>
                                        </ul>
                                    </div>
                                    <!-- <div class="uk-flex uk-flex-left uk-flex-top" style="padding-bottom:1rem;">
                                        <button id="upload_craft_next"
                                            class="uk-button uk-button-primary uk-button-large uk-width-expand"
                                            style="font-family:'Trispace';min-width:40%;" disabled>Next</button>
                                    </div> -->
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">Add screenshots</a>
                                <div class="uk-accordion-content">
                                    <ul>
                                        <li>PNGs and JPEGs are accepted</li>
                                        <li>Max 8MiB per screenshot, 50MiB total</li>
                                        <!-- <li>Include screenshots of &lt;placeholder&gt;</li> -->
                                    </ul>
                                    <div class="uk-flex uk-flex-left uk-flex-top" style="padding-bottom:1rem;">
                                        <div class="uk-placeholder uk-text-center" style="padding:0;margin-bottom: 0;">
                                            <div uk-form-custom="" class="uk-form-custom uk-flex uk-width-expand">
                                                <input id="upload_screenshots" multiple accept="image/png,image/jpeg"
                                                    onchange="ns.dropScreenshots(false)" type="file">
                                                <label class="uk-link" style="padding: 30px;"
                                                    for="upload_screenshots"><span uk-icon="icon: upload"
                                                        style="margin-right:0.5rem"></span>Drop
                                                    images or select multiple</label>
                                            </div>
                                        </div>
                                        <p id="upload_screenshots_status" class="uk-text-justify"
                                            style="margin-top:auto; margin-bottom:auto; padding-left:4rem;">
                                            <span uk-icon="icon:close; ratio:1.2;"
                                                style="position: absolute;margin-left:-2rem;"></span>No craft
                                            selected
                                        </p>
                                    </div>
                                    <button id="upload_button"
                                        class="uk-button uk-button-primary uk-button-large uk-width-expand"
                                        style="font-family:'Trispace';min-width:40%;"
                                        onclick="ns.submitScreenshots(false)" disabled>Submit</button>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="uk-width-1-2">
                        <h1 class="uk-heading-large"
                            style="font-family: 'Roboto Mono', monospace; font-weight:200; margin-bottom:2rem;">
                            manage
                        </h1>
                        <p class="uk-text-justify">
                            manage current submissions
                        </p>

                        <div id="submission_manage_buttons" class="uk-flex uk-flex-between uk-flex-top">

                            <button class="uk-button uk-button-default uk-button-large"
                                style="margin-top:2rem; padding-left:10%; padding-right:10%; font-family: 'Trispace';"
                                onclick="ns.unhide('rename_submission')">Rename</button>
                            <button class="uk-button uk-button-default uk-button-large"
                                style="margin-top:2rem; padding-left:5%; padding-right:5%; font-family: 'Trispace';"
                                onclick="ns.unhide('resubmit_screenshots')"><span class="uk-visible@xl">Reupload
                                </span>screenshots</span></button>
                            <button class="uk-button uk-button-danger uk-button-large"
                                style="margin-top:2rem; padding-left:10%; padding-right:10%; font-family: 'Trispace';"
                                onclick="ns.deleteSubmission()">Delete</button>
                        </div>
                        <div id="rename_submission" class="uk-margin" hidden>
                            <input id="submission_new_name" class="uk-input" type="text" placeholder="New name">
                            <button class="uk-button uk-button-primary" onclick="ns.renameSubmission()">Submit</button>
                        </div>
                        <div id="resubmit_screenshots" class="uk-margin" hidden>
                            <div class="uk-flex uk-flex-left uk-flex-top" style="padding-bottom:1rem;">
                                <div class="uk-placeholder uk-text-center" style="padding:0;margin-bottom: 0;">
                                    <div uk-form-custom="" class="uk-form-custom uk-flex uk-width-expand">
                                        <input id="submission_screenshots" multiple accept="image/png,image/jpeg"
                                            onchange="ns.dropScreenshots(true)" type="file">
                                        <label class="uk-link" style="padding: 30px;" for="submission_screenshots"><span
                                                uk-icon="icon: upload" style="margin-right:0.5rem"></span>Drop
                                            images or select multiple</label>
                                    </div>
                                </div>
                                <p id="submission_screenshots_status" class="uk-text-justify"
                                    style="margin-top:auto; margin-bottom:auto; padding-left:4rem;">
                                    <span uk-icon="icon:close; ratio:1.2;"
                                        style="position: absolute;margin-left:-2rem;"></span>No craft selected
                                </p>
                            </div>
                            <button id="submission_button"
                                class="uk-button uk-button-primary uk-button-large uk-width-expand"
                                style="font-family:'Trispace';min-width:40%;" onclick="ns.submitScreenshots(true)"
                                disabled>Submit</button>
                        </div>
                        <div class="uk-flex uk-flex-left uk-flex-top uk-margin">
                            <form style="width:40%; min-width:40%;">
                                <select id="submission_select" class="uk-select" required
                                    onchange="ns.craftDetails('submission')" onload="ns.craftDetails('submission')">
                                    <option value="" disabled selected hidden>Select a craft</option>
                                </select>
                            </form>
                            <ul style="list-style: none; margin-top:0.5rem; margin-left:0rem; padding-left:2rem;">
                                <li>Name: <span id="submission_name"></span></li>
                                <li>Categorisation: <span id="submission_categorisation"></span></li>
                                <li>Location: <span id="submission_location"></span></li>
                                <li>Situtation: <span id="submission_situation"></span></li>
                                <li>DLC: <span id="submission_dlc"></span></li>
                                <li>Votes: <span id="submission_votes"></span></li>
                                <li>Status: <span id="submission_status"></span></li>
                                <li><a id="submission_page">Submission page</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endif %}

</body>

</html>