<!DOCTYPE html>
<html>

<head>
    <link async rel="icon" href="{{ url_for('static', filename='upsilon-assets/upsilon.svg') }}">
    <!-- UIkit CSS -->
    <link async rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='uikit/uikit.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <!-- UIkit JS -->
    {% if false %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit-icons.min.js"></script>>
    {% endif %}
    <script src="{{ url_for('static', filename='uikit/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='uikit/uikit-icons.min.js') }}"></script>

    <title>upsilon</title>
</head>

<body style="font-family:'Roboto Mono', monospace; background-color:#222;">

    <div id="home" class="uk-section-secondary" uk-height-viewport>

        <div class="uk-container uk-container-xlarge uk-dark" style="margin:0;">
            <div class="uk-hidden@l uk-padding-large"></div>
            <div class="uk-section uk-padding-top uk-padding-large">

                <h1 class="uk-heading-large" style="font-family: 'Roboto Mono', monospace; font-weight:200;">{{
                    submission.craft[0].name }}</h1>
                <h2 style="font-family: 'Roboto Mono', monospace; font-weight:400;margin-left:0.4rem;margin-top:-1rem;">
                    Submitted by {{ submission.user.name }}</h2>

                <div class="uk-child-width-1-2@m" uk-grid>
                    <div class="uk-overflow-auto" style="height:16rem;max-height:16rem;">
                        <h3 style="font-family: 'Roboto Mono', monospace; font-weight:300;margin-left:0.4rem;">
                            notes:</h3>
                        <ul style="font-size: 1.2rem;list-style:none;margin-top:-1rem;">
                            {% if submission.uses_dlc %}
                            <li>Uses DLC</li>
                            {% else %}
                            <li>No DLC parts</li>
                            {% endif %}
                            {% if not submission.mod %}
                            <li>No mods</li>
                            {% endif %}
                            {% if submission.project is not none %}
                            <li>Part of {{ submission.project.name }}</li>
                            {% endif %}
                        </ul>
                    </div>
                    {% if submission.mod %}
                    <div class="uk-overflow-auto" style="height:16rem;max-height:16rem;">
                        <table class="uk-table">
                            <thead style="font-family: 'Trispace', monospace;">
                                <tr>
                                    <th>Mod</th>
                                    <th>Enabled</th>
                                    <!-- <th>Level</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for mod in submission.mod %}
                                <tr>
                                    <td>{{ mod.name }}</td>
                                    {% if mod.enabled %}
                                    <td>yes</td>
                                    {% else %}
                                    <td>no</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>


                <div class="uk-child-width-1-4@m uk-padding" uk-grid uk-lightbox="animation: slide">
                    {% for file in files %}
                    <div>
                        <a class="uk-inline" href="/submission/{{ submission.submission_id }}/images/{{ file }}"
                            data-caption="{{ file }}">
                            <img src="/submission/{{ submission.submission_id }}/images/{{ file }}" alt="">
                        </a>
                    </div>
                    {% endfor %}
                </div>

            </div>

        </div>

    </div>

</body>

</html>